extends  ./base/base.pug

block content
  +b.test.MAIN
    include /../mixins/index.pug
    //include sections/mainBunner
    //include sections/productsList
    //include sections/payment

block seotext
  include ./base/seotext
