
<section class="main-top-section">
  <div class="main-top-section__content">
    <div class="main-top-section__left-part">
      <div class="banner-card">
        <div class="banner-card__image-wrapper"><img class="banner-card__image img" src="../static/img/banner_1.png" alt="banner_1" title=""/>
        </div>
        <div class="new-product-mark">
          <div class="new-product-mark__image-wrapper"><img class="new-product-mark__image img" src="../static/img/new.png" alt="new-product" title=""/>
          </div>
        </div>
        <div class="banner-card__text-part">
          <h2 class="banner-card__title link link--3xl link--black link--bold link--upper link--3lh">Jack Wolfskin
          </h2>
          <p class="banner-card__desc link link--dark link--2lg link--1lh">Но дальнейшее развитие различных форм деятельности способствует подготовке и реализации модели развития.
          </p>
          <button class="banner-card__button btn">Подробнее
          </button>
        </div>
      </div>
    </div>
    <div class="main-top-section__right-part">
      <div class="main-top-section__right-top">
        <div class="banner-card banner-card--sm">
          <div class="banner-card__image-wrapper"><img class="banner-card__image img" src="../static/img/banner_2.png" alt="banner_2" title=""/>
          </div>
          <div class="banner-card__text-part banner-card__text-part--sm">
            <h2 class="banner-card__title link link--upper link--2xl link--white link--bold link--2lh">Jack Wolfskin
            </h2>
            <button class="banner-card__button btn btn--sm">Подробнее
            </button>
          </div>
        </div>
      </div>
      <div class="main-top-section__right-bottom">
        <div class="banner-card banner-card--sm banner-card--rev">
          <div class="banner-card__image-wrapper"><img class="banner-card__image img" src="../static/img/banner_3.png" alt="banner_3" title=""/>
          </div>
          <div class="banner-card__text-part banner-card__text-part--sm">
            <h2 class="banner-card__title link link--upper link--2xl link--black link--bold link--2lh">Jack Wolfskin
            </h2>
            <button class="banner-card__button btn btn--sm">Подробнее
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>