
<section class="products-list-section">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="product-list">
      <h2 class="product-list__title title">Популярные товары
      </h2>
      <div class="product-list__list g-row g-row g-row--justify_between">
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/1.png" alt="1" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="1">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="2">45</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="3">48</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/2.png" alt="2" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/3.png" alt="3" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/4.png" alt="4" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/5.png" alt="5" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/6.png" alt="6" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/7.png" alt="7" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/8.png" alt="8" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/9.png" alt="9" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/10.png" alt="10" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/11.png" alt="11" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/12.png" alt="12" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/13.png" alt="13" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/14.png" alt="14" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/15.png" alt="15" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
        <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
          <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/16.png" alt="16" title=""/></a>
            <div class="product-hover-bar">
              <ul class="product-hover-bar__list">
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                </li>
                <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
          </div>
          <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>