
<footer class="footer">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="footer-top-content">
      <div class="footer-top-content__left-part"> 
        <div class="footer-top-content__tel-block"> 
          <div class="footer-top-content__image-wrapper"> <img class="footer-top-content__image img" src="../static/img/smartphone.svg" alt="telephone" title=""/>
          </div><a class="footer-top-content__number link link--xl link--white link--hover" href="tel:+3805685500">+380 568 55 00</a>
        </div>
        <div class="footer-top-content__call-block"> <span class="footer-top-content__call-button link link--hover link--white">Перезвонить мне</span>
        </div>
        <div class="payment-block"><a class="payment-block__image-wrapper" href="#"> <img class="payment-block__image img" src="../static/img/visa.png" alt="visa" title=""/></a><a class="payment-block__image-wrapper" href="#"> <img class="payment-block__image img" src="../static/img/master.png" alt="master" title=""/></a>
        </div>
      </div>
      <div class="footer-top-content__right-part">
        <div class="footer-top-content__top-block">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__footer-item"><a class="menu__footer-link link link--white link--bold link--md link--hover" href="#">Политика конфиденциальности</a>
              </li>
              <li class="menu__footer-item"><a class="menu__footer-link link link--white link--bold link--md link--hover" href="#">О магазине</a>
              </li>
              <li class="menu__footer-item"> <a class="menu__footer-link link link--white link--bold link--md link--hover" href="#">Оплата и доставка</a>
              </li>
              <li class="menu__footer-item"><a class="menu__footer-link link link--white link--bold link--md link--hover" href="#">Контакты</a>
              </li>
              <li class="menu__footer-item"><a class="menu__footer-link link link--white link--bold link--md link--hover" href="#">Условия возврата</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer-bottom-content"> 
          <div class="schedule-block"> 
            <div class="schedule-block__image-wrapper"> <img class="schedule-block__image img" src="../static/img/clock.svg" alt="clock" title=""/>
            </div>
            <p class="schedule-block__text link link--white link--md">Пн.-Пт. 8:00 - 18:00 Сб.-Вс. - Выходной
            </p>
          </div>
          <div class="mail-block"> 
            <div class="mail-block__image-wrapper"> <img class="mail-block__image img" src="../static/img/mail.svg" alt="mail" title=""/>
            </div><a class="mail-block__link link link--white link--md link--hover" href="mailto:mail@mail.com">mail@mail.com</a>
          </div>
          <div class="social-block">
            <div class="social-block-content"> 
              <p class="social-block-content__text link link--md link--white">Мы в социальных сетях:
              </p><a class="social-block-content__image-wrapper" href="#"><img class="social-block-content__image img" src="../static/img/inst.svg" alt="inst" title=""/></a><a class="social-block-content__image-wrapper" href="#"><img class="social-block-content__image img" src="../static/img/facebook.svg" alt="clock" title=""/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="copyright-section">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="copyright">
      <p class="copyright__text link link--sm link--darkgrey">© Copyright 2022
      </p><a class="copyright__devlink link link--sm link--darkgrey link--hover" href="#">Сайт разработан компанией: WEBCASE</a>
    </div>
  </div>
</section>