
<header class="header">
  <div class="header-top">
    <div class="telephone-block">
      <div class="number-block">
        <ul class="number-block__list">
          <li class="number-block__item is-active"><a class="number-block__link" href="tel:0674450300">067 445 03 01</a>
          </li>
        </ul>
        <div class="number-block__image-wrapper"><img class="number-block__image img" src="../static/img/Vector.svg" alt="dropdown arrow" title=""/>
        </div>
      </div>
      <div class="call-block">
        <div class="call-block__image-wrapper"><img class="call-block__image" src="../static/img/smartphone.svg" alt="telephone" title=""/>
        </div><span class="call-block__button link link--grey link--hover">Заказать звонок</span>
      </div>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">О магазине</a>
        </li>
        <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">Оплата и доставка</a>
        </li>
        <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">Дропшиппинг</a>
        </li>
        <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-bottom">
    <div class="logo"><img class="logo__image img" src="../static/img/logo.png" alt="logo" title=""/>
    </div>
    <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
    </div>
    <nav class="header-bottom-menu" id="js-menu">
      <div class="header-bottom-menu__list">
        <!--+e.qwe 1-->
        <!--+e.qwe 1-->
        <!--+e.qwe 1-->
        <div class="header-bottom-menu__item js-menu-spoiler">
          <div class="header-bottom-menu__click-part"><a class="header-bottom-menu__link link link--2md link--bold" href="#" style="color: #000">Одежда</a>
            <div class="header-bottom-menu__image-wrapper"><img class="header-bottom-menu__image img" src="../static/img/arrow.svg" alt="arrow" title=""/>
            </div>
          </div>
          <div class="submenu js-submenu-spoiler">
            <div class="submenu__list">
              <div class="submenu__column"><span class="submenu__category title title--lg">Мужская одежда</span>
                <div class="submenu__sublist">
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кофты</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Штаны</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Футболки</a>
                  </div>
                </div>
              </div>
              <div class="submenu__column"><span class="submenu__category title title--lg">Женская одежда</span>
                <div class="submenu__sublist">
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кофты</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Штаны</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Футболки</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom-menu__item js-menu-spoiler">
          <div class="header-bottom-menu__click-part"><a class="header-bottom-menu__link link link--2md link--bold" href="#" style="color: #000">Обувь</a>
            <div class="header-bottom-menu__image-wrapper"><img class="header-bottom-menu__image img" src="../static/img/arrow.svg" alt="arrow" title=""/>
            </div>
          </div>
          <div class="submenu js-submenu-spoiler">
            <div class="submenu__list">
              <div class="submenu__column"><span class="submenu__category title title--lg">Мужская обувь</span>
                <div class="submenu__sublist">
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кроссовки</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кеды</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Туфли</a>
                  </div>
                </div>
              </div>
              <div class="submenu__column"><span class="submenu__category title title--lg">Женская обувь</span>
                <div class="submenu__sublist">
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кроссовки</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кеды</a>
                  </div>
                  <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Туфли</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom-menu__item"><a class="header-bottom-menu__link link link--2md link--bold link--hover" href="#" style="color: #000">Рапродажа</a>
        </div>
        <div class="header-bottom-menu__item"><a class="header-bottom-menu__link link link--2md link--bold link--hover" href="#" style="color: #558BDC">Супер предложения</a>
        </div>
      </div>
    </nav>
  </div>
  <!--  +b.icons-->
  <!--    +e.social-container-->
  <!--      +e.soc-wrapper.A(href='#')-->
  <!--        +e.image.img.IMG(-->
  <!--          src='../static/img/menu-icons/inst.svg'-->
  <!--          alt='inst'-->
  <!--        )-->
  <!---->
  <!--    +e.functional-container-->
  <!--      +b.search-block-->
  <!--        +e.image-wrapper.icon-wrapper-->
  <!--          +e.image.img.IMG(-->
  <!--            src='../static/img/menu-icons/search.svg'-->
  <!--            alt='search'-->
  <!--          )-->
  <!--      +e.image-wrapper.icon-wrapper-->
  <!--        +e.image.img.IMG(-->
  <!--          src='../static/img/menu-icons/cart.svg'-->
  <!--          alt='cart'-->
  <!--        )-->
  <!--      +e.image-wrapper.icon-wrapper.A(href='#')-->
  <!--        +e.image.img.IMG(-->
  <!--          src='../static/img/menu-icons/user.svg'-->
  <!--          alt='user'-->
  <!--        )-->
</header>