
<section class="payment-section">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="payment">
      <h2 class="payment__title title">Условия оплаты, доставки и возврата
      </h2>
      <!--+e.terms-cards-list-->
      <div class="payment__terms-card-list g-row g-row g-row--justify_between">
        <div class="terms-card g-cell g-cols g-cols--12 g-cols--6-md g-cols--4-xl">
          <div class="terms-card__content">
            <div class="terms-card__number-block"><span class="terms-card__number">1</span>
            </div>
            <div class="terms-card__title-block">
              <h3 class="terms-card__title title title--md title--lh title--upper">ДОСТАВКА
              </h3>
            </div>
            <p class="terms-card__text link link--dark link--md">Но дальнейшее развитие различных форм деятельности способствует
            </p>
          </div>
        </div>
        <div class="terms-card g-cell g-cols g-cols--12 g-cols--6-md g-cols--4-xl">
          <div class="terms-card__content">
            <div class="terms-card__number-block"><span class="terms-card__number">2</span>
            </div>
            <div class="terms-card__title-block">
              <h3 class="terms-card__title title title--md title--lh title--upper">Оплата
              </h3>
            </div>
            <p class="terms-card__text link link--dark link--md">Но дальнейшее развитие различных форм деятельности способствует
            </p>
          </div>
        </div>
        <div class="terms-card g-cell g-cols g-cols--12 g-cols--6-md g-cols--4-xl">
          <div class="terms-card__content">
            <div class="terms-card__number-block"><span class="terms-card__number">3</span>
            </div>
            <div class="terms-card__title-block">
              <h3 class="terms-card__title title title--md title--lh title--upper">Возврат
              </h3>
            </div>
            <p class="terms-card__text link link--dark link--md">Но дальнейшее развитие различных форм деятельности способствует
            </p>
          </div>
        </div>
      </div>
      <div class="payment__benefits-card-list g-row g-row g-row--justify_between">
        <div class="benefits-card">
          <div class="benefits-card__content g-row g-row g-row--align_center">
            <div class="benefits-card__image-wrapper"><img class="benefits-card__image img" src="../static/img/1.png" alt="1" title=""/>
            </div>
            <div class="benefits-card__text-part">
              <h4 class="benefits-card__title link link--md link--upper link--black link--bold">ВОЗВРАТ ТОВАРОВ
              </h4>
              <p class="benefits-card__desc link link--black link--medium">в течение 14 дней
              </p>
            </div>
          </div>
        </div>
        <div class="benefits-card">
          <div class="benefits-card__content g-row g-row g-row--align_center">
            <div class="benefits-card__image-wrapper"><img class="benefits-card__image img" src="../static/img/2.png" alt="2" title=""/>
            </div>
            <div class="benefits-card__text-part">
              <h4 class="benefits-card__title link link--md link--upper link--black link--bold">ГАРАНТИЯ
              </h4>
              <p class="benefits-card__desc link link--black link--medium">качества
              </p>
            </div>
          </div>
        </div>
        <div class="benefits-card">
          <div class="benefits-card__content g-row g-row g-row--align_center">
            <div class="benefits-card__image-wrapper"><img class="benefits-card__image img" src="../static/img/3.png" alt="3" title=""/>
            </div>
            <div class="benefits-card__text-part">
              <h4 class="benefits-card__title link link--md link--upper link--black link--bold">СЛУЖБА ПОДДЕРЖКИ
              </h4>
              <p class="benefits-card__desc link link--black link--medium">через форму на сайте
              </p>
            </div>
          </div>
        </div>
        <div class="benefits-card">
          <div class="benefits-card__content g-row g-row g-row--align_center">
            <div class="benefits-card__image-wrapper"><img class="benefits-card__image img" src="../static/img/4.png" alt="4" title=""/>
            </div>
            <div class="benefits-card__text-part">
              <h4 class="benefits-card__title link link--md link--upper link--black link--bold">АКЦИИ И СКИДКИ
              </h4>
              <p class="benefits-card__desc link link--black link--medium">регулярные кампании
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>