<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="header">
                                            <div class="header-top">
                                                                <div class="telephone-block">
                                                                                    <div class="number-block">
                                                                                                              <ul class="number-block__list">
                                                                                                                                        <li class="number-block__item is-active"><a class="number-block__link" href="tel:0674450300">067 445 03 01</a>
                                                                                                                                        </li>
                                                                                                              </ul>
                                                                                                              <div class="number-block__image-wrapper"><img class="number-block__image img" src="../static/img/Vector.svg" alt="dropdown arrow" title=""/>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="call-block">
                                                                                                              <div class="call-block__image-wrapper"><img class="call-block__image" src="../static/img/smartphone.svg" alt="telephone" title=""/>
                                                                                                              </div><span class="call-block__button link link--grey link--hover">Заказать звонок</span>
                                                                                    </div>
                                                                </div>
                                                                <nav class="menu">
                                                                                          <ul class="menu__list">
                                                                                                                    <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">О магазине</a>
                                                                                                                    </li>
                                                                                                                    <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">Оплата и доставка</a>
                                                                                                                    </li>
                                                                                                                    <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">Дропшиппинг</a>
                                                                                                                    </li>
                                                                                                                    <li class="menu__item"><a class="menu__link link link--grey link--hover" href="#">Контакты</a>
                                                                                                                    </li>
                                                                                          </ul>
                                                                </nav>
                                            </div>
                                            <div class="header-bottom">
                                                                <div class="logo"><img class="logo__image img" src="../static/img/logo.png" alt="logo" title=""/>
                                                                </div>
                                                                <div class="menu-icon" id="js-trigger"><span class="menu-icon__line menu-icon__line--top"></span><span class="menu-icon__line menu-icon__line--middle"></span><span class="menu-icon__line menu-icon__line--bottom"></span>
                                                                </div>
                                                                <nav class="header-bottom-menu" id="js-menu">
                                                                                          <div class="header-bottom-menu__wrapper">
                                                                                                                    <div class="header-bottom-menu__list">
                                                                                                                                              <div class="header-bottom-menu__item js-menu-spoiler">
                                                                                                                                                                        <div class="header-bottom-menu__click-part"><a class="header-bottom-menu__link link link--2md link--bold" href="#" style="color: #000">Одежда</a>
                                                                                                                                                                                                  <div class="header-bottom-menu__image-wrapper"><img class="header-bottom-menu__image img" src="../static/img/arrow.svg" alt="arrow" title=""/>
                                                                                                                                                                                                  </div>
                                                                                                                                                                        </div>
                                                                                                                                                                  <div class="submenu js-submenu-spoiler">
                                                                                                                                                                                            <div class="submenu__list">
                                                                                                                                                                                                                      <div class="submenu__column"><span class="submenu__category title title--lg">Мужская одежда</span>
                                                                                                                                                                                                                                                <div class="submenu__sublist">
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кофты</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Штаны</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Футболки</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                      <div class="submenu__column"><span class="submenu__category title title--lg">Женская одежда</span>
                                                                                                                                                                                                                                                <div class="submenu__sublist">
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кофты</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Штаны</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Футболки</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                      </div>
                                                                                                                                                                                            </div>
                                                                                                                                                                  </div>
                                                                                                                                              </div>
                                                                                                                                              <div class="header-bottom-menu__item js-menu-spoiler">
                                                                                                                                                                        <div class="header-bottom-menu__click-part"><a class="header-bottom-menu__link link link--2md link--bold" href="#" style="color: #000">Обувь</a>
                                                                                                                                                                                                  <div class="header-bottom-menu__image-wrapper"><img class="header-bottom-menu__image img" src="../static/img/arrow.svg" alt="arrow" title=""/>
                                                                                                                                                                                                  </div>
                                                                                                                                                                        </div>
                                                                                                                                                                  <div class="submenu js-submenu-spoiler">
                                                                                                                                                                                            <div class="submenu__list">
                                                                                                                                                                                                                      <div class="submenu__column"><span class="submenu__category title title--lg">Мужская обувь</span>
                                                                                                                                                                                                                                                <div class="submenu__sublist">
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кроссовки</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кеды</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Туфли</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                      <div class="submenu__column"><span class="submenu__category title title--lg">Женская обувь</span>
                                                                                                                                                                                                                                                <div class="submenu__sublist">
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кроссовки</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Кеды</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                          <div class="submenu__item"><a class="submenu__sublink link link--lg link--medium link--black link--hover" href="#">Туфли</a>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                      </div>
                                                                                                                                                                                            </div>
                                                                                                                                                                  </div>
                                                                                                                                              </div>
                                                                                                                                              <div class="header-bottom-menu__item"><a class="header-bottom-menu__link link link--2md link--bold link--hover" href="#" style="color: #000">Рапродажа</a>
                                                                                                                                              </div>
                                                                                                                                              <div class="header-bottom-menu__item"><a class="header-bottom-menu__link link link--2md link--bold link--hover" href="#" style="color: #558BDC">Супер предложения</a>
                                                                                                                                              </div>
                                                                                                                                              <div class="header-bottom-menu__list header-bottom-menu__list--is-mobile">
                                                                                                                                                                        <div class="header-bottom-menu__item"><a class="header-bottom-menu__linl link link--2md link--bold link--black" href="#">О магазине</a>
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="header-bottom-menu__item"><a class="header-bottom-menu__linl link link--2md link--bold link--black" href="#">Оплата и доставка</a>
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="header-bottom-menu__item"><a class="header-bottom-menu__linl link link--2md link--bold link--black" href="#">Дропшиппинг</a>
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="header-bottom-menu__item"><a class="header-bottom-menu__linl link link--2md link--bold link--black" href="#">Контакты</a>
                                                                                                                                                                        </div>
                                                                                                                                              </div>
                                                                                                                    </div>
                                                                                                              <div class="icons">
                                                                                                                                        <div class="icons__social-container"><a class="icons__soc-wrapper" href="#"><img class="icons__image img" src="../static/img/menu-icons/inst.svg" alt="inst" title=""/></a>
                                                                                                                                        </div>
                                                                                                                                        <div class="icons__functional-container">
                                                                                                                                                            <div class="search-block">
                                                                                                                                                                                      <div class="search-block__image-wrapper icon-wrapper"><img class="search-block__image img" src="../static/img/menu-icons/search.svg" alt="search" title=""/>
                                                                                                                                                                                      </div>
                                                                                                                                                            </div>
                                                                                                                                                                  <div class="icons__image-wrapper icon-wrapper"><img class="icons__image img" src="../static/img/menu-icons/cart.svg" alt="cart" title=""/>
                                                                                                                                                                  </div><a class="icons__image-wrapper icon-wrapper" href="#"><img class="icons__image img" src="../static/img/menu-icons/user.svg" alt="user" title=""/></a>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                          </div>
                                                                </nav>
                                            </div>
                        </header>
                        <main class="test" role="main">
                          <!--include sections/mainBunner-->
                          <section class="products-list-section">
                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                              <div class="product-list">
                                <h2 class="product-list__title title">Популярные товары
                                </h2>
                                <div class="product-list__list g-row g-row g-row--justify_between">
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/1.png" alt="1" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="1">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="2">45</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="3">48</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/2.png" alt="2" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/3.png" alt="3" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/4.png" alt="4" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/5.png" alt="5" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/6.png" alt="6" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/7.png" alt="7" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/8.png" alt="8" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/9.png" alt="9" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/10.png" alt="10" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/11.png" alt="11" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/12.png" alt="12" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/13.png" alt="13" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/14.png" alt="14" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/15.png" alt="15" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                  <div class="product-card g-cell g-cols g-cols--6 g-cols--4-md g-cols--3-lg">
                                    <div class="product-card__image-part"><a class="product-card__image-wrapper" href="#"><img class="product-card__image img" src="../static/img/products/16.png" alt="16" title=""/></a>
                                      <div class="product-hover-bar">
                                        <ul class="product-hover-bar__list">
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">41</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">42</a>
                                          </li>
                                          <li class="product-hover-bar__item link link--hover"><a class="product-hover-bar__link" href="#">43</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="product-card__title-block"><a class="product-card__title link link--lg link--black link--medium link--hover" href="#">Кроссовки Bona мужские</a>
                                    </div>
                                    <div class="price-block"><span class="price-block__price link link--black link--bold">1350 грн</span><span class="price-block__old-price">1400 грн</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <!--include sections/payment-->
                        </main>
      <!--include ../../mixins/index-->
      <!---->
      <!--+b.seosection.SECTION-->
      <!--  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl-->
      <!--    +b.seotext-->
      <!--      +e.paragraph-container-->
      <!--        +e.paragraph.link.--dark.--lh.P Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.-->
      <!--      +e.paragraph-container-->
      <!--        +e.paragraph.link.--dark.--lh.P По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.-->
      <!--block footer-->
      <!--  include ./footer-->
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>