$TONE_GENERATE_THEME: false;
$TONE_GENERATE_PALETTES: false;

$theme-default: (
  accent: (
    white: #ffffff,
    black: #000000,
    dark: #262626,
    green: #12a791,
    green-light: #12d5b8,
    green-white: #bde5dc,
    grey: #ebebeb,
    light-grey: #f6f6f6,
    orange: #d14836,
    orange-light: #f95e3a,
    blue: #4064ac,
  ),
  primary: (
    light: #ebebeb,
    black-tr: rgba(0, 0, 0, 0.3),
    green-tr: rgba(18, 167, 145, .5)
  ),
  secondary: (
    main: #badc7d,
    grey: #c8c8c8,
    dark: rgba(214, 245, 252, 0.5),
    base: rgb(7, 6, 8),
    light: #ebf3fa,
    text: rgba(#4a4a4a, 0.45),
    text-inverse: #f7f8f9
  )
);

$theme-base: map-merge(
  $theme-default,
  (
    relief: (
      1: white,
      2: #fafafa,
      // 2: #f7f7f7,
      3: #bfecff,
      4: #eaeaea,
      5: #d1dbdf,
      6: #e9e9e9
    ),
    text: (
      1: #ffffff,
      2: red,
      3: #262626,
      4: #ebebeb,
      5: #434343,
      6: #e6e6e6,
      7: #818181,
      8: #999999,
      9: #ebebeb,
      10: #777777,
      11: #f95e3a,
      12: #242626,
      13: #878787
    )
  )
);

$theme-inverse: map-merge(
  $theme-default,
  (
    relief: (
      1: #556474,
      2: mix(#556474, #687685, 43%),
      3: #687685,
      4: #8b8b8b,
      5: #e9e9e9
    ),
    text: (
      1: #ffffff,
      2: #12d5b8
    )
  )
);

$type-font-size-4xs: 10px;
$type-font-size-3xs: 11px;
$type-font-size-2xs: 12px;
$type-font-size-xs: 13px;
$type-font-size-sm: 14px;
$type-font-size-md: 15px;
$type-font-size-2md: 17px;
$type-font-size-lg: 20px;
$type-font-size-2xl: 28px;
$type-font-size-3xl: 36px;

$type-font-size-map: (
  3xs: $type-font-size-3xs,
  4xs: $type-font-size-4xs,
  2md: $type-font-size-2md
);
$layout-map: $type-font-size-map;

$type-face-body: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

$MQ_INCLUDE_XS: true;
$MQ_INCLUDE_XL: true;

$space-2xl: var(--space-8);
$space-3xl: var(--space-10);
$space-4xl: var(--type-font-size-4xl);

$space-map: (
  2xl: $space-2xl,
  3xl: $space-3xl,
  4xl: $space-4xl
);

$font-weight-group: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  "black": 900
);

$idents-group: (
  pl: "padding-left",
  pr: "padding-right",
  pt: "padding-top",
  pb: "padding-bottom",
  pa: "padding",
  ma: "margin",
  ml: "margin-left",
  mr: "margin-right",
  mt: "margin-top",
  mb: "margin-bottom"
);

$control-stack-selectors: (
  "&.d-control-button",
  "&.um-button",
  "&.d-control-input"
);
