.header
  pos: fixed
  top: 0
  left: 0
  w: 100%
  z-index: 9999

  +mq-md
    pos: relative

.header-top
  w: 100%
  h: 48px
  pa: 0 10px
  bg-color: black
  +d-justify

  +mq-lg
    +d-ai-center

  +mq-xl
    pa: 0 30px

.telephone-block
  w: 100%
  +d-justify

  +mq-md
    w: auto
    +d-ai-center

.number-block
  +d-ai-center
  mr: 25px

  +mq-lg
    mr: 37px

  &__
    &item
      fw: 700

    &image-wrapper
      w: 12px
      h: 8px
      pa: 2px
      ml: 11px
      +pointer

.call-block
  +pointer
  +d-ai-center

  &__
    &image-wrapper
      +cube(18px)
      mr: 5px

.menu
  d: none
  ml: auto

  +mq-md
    d: block

  &__
    &list
      +d-ai-center

    &item
      mr: 25px

      +mq-lg
        mr: 33px

      &:last-child
        mr: 0

    &footer-item
      mr: 35px

      &:last-child
        mr: 0

.header-bottom
  pos: relative
  w: 100%
  h: 70px
  pr: 10px
  pl: 10px
  bg-color: white
  +d-justify

  +mq-xl
    h: 104px
    pr: 30px
    pl: 30px

.header-bottom-menu
  +d-ai-center
  +tr

  +mq-till-lg
    pos: absolute
    top: 100%
    left: -100%
    w: 100%
    h: calc(100vh - 118px)
    bg-color: #EAEAEA
    pa: 20px
    overflow: auto

  +mq-lg
    bg-color: transparent
    w: calc(100% - 194px)

  +mq-fhd
    w: calc(100% - 325px)

  &.is-active
    left: 0
  &__
    &wrapper
      pos: relative
      h: 100%
      w: 100%
      d: flex
      jc: flex-end
      flex-direction: column-reverse

      +mq-lg
        pt: 0
        pl: 0
        flex-direction: row
        jc: space-between

    &list
      d: flex
      ai: flex-start
      flex-direction: column

      +mq-lg
        pt: 0
        pl: 0
        ai: center
        flex-direction: row

      &--
        &is-mobile
          +mq-md
            d: none

    &image-wrapper
      +cube(18px)
      pa: 7px 6px
      bg-color: #F3F3F3
      br-radius: 50%
      ml: 8px

    &image
      +tr

    &item
      pos: relative
      mb: 40px
      d: flex
      ai: flex-start
      flex-direction: column

      +mq-lg
        mb: 0px
        mr: 30px

      +mq-xl
        mr: 50px

      +mq-fhd
        mr: 80px

      +hover
        .submenu
          d: block

        .header-bottom-menu
          &__
            &image
              trans: rotate(180deg)

    &click-part
      +d-ai-center

.submenu
  d: none
  pa: 10px
  w: auto
  bg-color: transparent

  &.is-active
    d: block

  +mq-lg
    pos: absolute
    top: 100%
    left: 0
    z-index: 10
    pa: 48px
    bg-color: white


  &__
    &category
      white-space: nowrap
    &list
      d: flex
      flex-direction: column

      +mq-lg
        flex-direction: row

    &column
      d: flex
      ai: flex-start
      flex-direction: column
      &:not(&:last-child)
        mb: 15px

      +mq-lg
        &:not(&:last-child)
          br-right: 1px solid #EAEAEA
          pr: 61px
          mb: 0

        &:not(&:first-child)
          pl: 65px

    &sublist
      mt: 0px
      d: flex
      flex-direction: column

      +mq-lg
        mt: 31px

    &item
      &:not(&:last-child)
        mb: 10px
        +mq-lg
          mb: 30px


.logo
  h: 60px

  +mq-lg
    h: 40px

  +mq-xl
    h: 50px
    mr: 20px

  +mq-fhd
    h: 60px
    mr: 131px

.icons
  pos: relative
  +d-ai-center
  pb: 20px
  mb: 20px
  br-b: 1px solid white

  +mq-lg
    pb: 0px
    mb: 0
    ml: auto
    br: none

  &__
    &social-container
      mr: 36px

      +mq-lg
        mr: 20px

      +mq-fhd
        mr: 36px

    &soc-wrapper
      +cube(40px)
      pa: 10px
      bg-color: black
      br-radius: 50%
      +pointer

      +mq-lg
        +cube(30px)
        pa: 9px

      +mq-xl
        +cube(40px)
        pa: 10px

      +mq-fhd
        +cube(50px)
        pa: 13px

    &functional-container
      +d-ai-center

    &image-wrapper
      ml: 16px

.icon-wrapper
  +cube(40px)
  br-radius: 50%
  bg-color: #F3F3F3
  pa: 12px
  +pointer

  +mq-lg
    +cube(30px)
    pa: 10px

  +mq-xl
    +cube(40px)
    pa: 12px

  +mq-fhd
    +cube(50px)
    pa: 16px

.menu-icon
  pos: relative
  d: block
  w: 20px
  h: 20px
  mr: 15px

  +mq-lg
    d: none

  &.is-active
    .menu-icon
      &__
        &line
          trans: scale(0)

          &--top
            trans: rotate(-45deg)
            top: 9px

          &--bottom
            trans: rotate(45deg)
            bottom: 8px


  &__
    &line
      pos: absolute
      w: 100%
      h: 3px
      bg-color: black
      left: 0
      tr: .3s
      br-radius: 25%

      &--top
        top: 0

      &--middle
        top: 9px

      &--bottom
        bottom: 0

